* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 22px;
}

body{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App{
  height: 100vh;
  width: 100vw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 1px solid red;
}
header{
  width: calc(100% - 2px);
  padding: 0 0.25em;
  height: 5vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  
}
main{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  flex-grow: 1;
  background-color: #f4f4f4;
}
footer{
height: 5vh;
display: flex;
justify-content: center;
align-items: center;
color:white;
width: 100%;
background-color: red;
}
ul{
  width: 100%;
  list-style: none;
  padding: 0 0.25rem 0.25rem;
}
ul li::before{
  content: "\200B";
}

.item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.25rem 0;
  background-color: white;
  padding: 5px;
}
.item:first-child{
 margin: 0;
}
.item input[type='checkbox']{
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  min-width: 38px;
}
.item input [type="checkbox"]:focus + label{
  text-decoration: underline;
}
.item > label{
  font-size: 0.75rem;
  flex: 1;
}
.item >label:hover{
  text-decoration: underline;
}
.item svg{
  width: 1.5rem;
  height: 1rem;
  font-size: 1rem;
  cursor: pointer;
  color: lightskyblue;
}
.item svg:focus, .item svg:hover{
  color: red;
  outline: none;
}
form.addForm {
  width:calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0 0;
}
.addForm label{
  color: red;
  position: absolute;
  left: -999999px;
}
.addForm input[type='text']{
  padding: 5px;
  font-size: 16px;
  min-height: 48px;
  max-width: calc(100% - 50px);
  margin-right: 0.25rem;
  outline: none;
  border-radius: 5px;
  flex: 1;
}
.addForm button{
  width: 48px;
  height: 48px;
  cursor: pointer;
  outline: none;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: aliceblue;
  color: blue;
  border-radius: 5px;
}
button:focus, button:hover{
  color: white;
  background-color: limegreen;
  outline: none;
}
